img{
    width: 100%;
}

*{
    color: #fff;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url('../img/background.jpg');
    background-size: cover;
}

.background::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    left: 0px;
    background: rgba(0,0,0,.50);
}

.col-md-4, .col-md-3, .col-md-8, .col-md-12{
    background-color: rgba(0,0,0,.60);
    margin: 0px;
    padding: 10px;
}

li{
    list-style: none;
    margin-top: 20px;
}

.logo{
    position: relative;
    width: 50px;
}

.bg-dark{
    background-color: rgba(0,0,0,.50)!important;
}

@-webkit-keyframes run {
    0% { transform: scale(0.5); }
    50%{ transform: scale(0.8);}
    100%{ transform: scale(1);}
}

body,html, main,.jumbotron{
    overflow-x: hidden;
    background: #151515;
}

  main{
    -webkit-animation:linear alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 0.4s;
  }

  a{
      cursor: pointer;
  }

  img{
      transition: 0.5s;
      position: relative;
      z-index: 400;
      cursor: pointer;
      height: 250px;
      object-fit: cover;
  }

  .logo{
      height: 40px;
      width: 40px;
  }

  .zoom{
      position: fixed;
      top: 50%;
      left: 50%;
      max-width: 500px;
      height: 550px;
      z-index: 5000000;
      transform: translate(-50%, -50%);
  }
  
  .sair{
      width: 100%;
      height: 100%;
      z-index: 100;
      background: transparent;
      top: 0px;
      left: 0px;
      position: fixed;
  }

  .zoom::after{
    content: '';
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.90); 
}

iframe{
    position: relative;
    z-index: 4000;
}

audio{
    width: 100%;
    position: relative;
    z-index: 1000000;
}

.music li{
    position: relative;
    z-index: 1000000;
    cursor: pointer;
    color: #555;
}

.active{
    color: #fff !important;
}

*{
    outline: none;
    border: none;
}